* {
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    

}


.cabecalho {
    padding: 160px;
    text-align: center;
    background-image: url(../imagemmetodo/metodo.png);
    background-size: cover;
    color: black;
    background-position: center;
    
}


.barra_nav{
    display: flex;
    background-color: #5e8bde5e;
}



.barra_nav a {
    color: rgb(0, 0, 0);
    padding: 14px 30px;
    text-decoration: none;
    text-align: center;
}



.barra_nav a:hover {
    background-color: white;
    color: #5e8bdec9;
}


.coluna {
    display: flex;
    flex-wrap: wrap;
}
.principal{
    flex: 30%;
    background-color: rgba(237, 245, 253, 0.783);
    padding: 20px;
}

.lateraldir{
    flex: 70%;
    background-color: rgba(237, 245, 253, 0.783);
    padding: 150px;
    
}

.btn {
    display: block; 
    width: 100%; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: none; 
    background-color: #5e8bde5e; 
    color: rgb(255, 255, 255); 
    padding: 15px; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    margin-bottom: 120px;
}

.btn:hover { 
    background-color: white;
    color: rgb(148, 168, 255);
}


.rodape {
    max-height: fit-content;
    padding: 8px;
    text-align: center;
    background-color: #5e8bde5e;
}

.imagem1 {
    background-image: url(../imagemmetodo/pomodoro.png);
    width: 70%;
    padding: 10px;
    height: 170px;
    margin: 40px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-bottom: 50px;
}

.imagem2{
    background-image: url(../imagemmetodo/filmesla.jfif);
    width: 70%;
    padding: 10px;
    height: 170px;
    margin: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 85px;
}


.imagem3 {
    background-image: url(../imagemmetodo/mnemonico.png);
    width: 70%;
    padding: 10px;
    height: 170px;
    margin: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 100px;
}

.imagem4{
    background-image: url(../imagemmetodo/resumos.png);
    width: 70%;
    padding: 10px;
    height: 170px;
    margin: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 80px;
}


.imagem5{
    background-image: url(../imagemmetodo/metodorobinson.jfif);
    width: 70%;
    padding: 10px;
    height: 170px;
    margin: 40px;
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 75px;
}

.imagem6{
    background-image: url(../imagemmetodo/mapa.png);
    width: 70%;
    padding: 10px;
    height: 170px;
    margin: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 90px;
}

.rodape {
    max-height: fit-content;
    padding: 8px;
    text-align: center;
    background-color: #5e8bde5e;
}
@media screen and (max-width: 500px) {
    .coluna, .barra_nav{
        flex-direction: column;
    }  
    .cabecalho{
        background-image: url(../imagemmetodo/capa2.png);
        padding: 100px;
        background-size: cover;
        color: white;
    } 
    .lateraldir{
        flex: 70%;
        background-color: rgba(237, 245, 253, 0.783);
        padding: 10px;
        
    }
    .imagem1 {
        background-image: url(../imagemmetodo/pomodoro.png);
        width: 50%;
        padding: 10px;
        height: 170px;
        margin: 50px;
        margin-bottom: 10px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-bottom: 50px;
    }
    
    .imagem2{
        background-image: url(../imagemmetodo/filmesla.jfif);
        width: 50%;
        padding: 10px;
        height: 170px;
        margin: 50px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 85px;
    }
    
    
    .imagem3 {
        background-image: url(../imagemmetodo/mnemonico.png);
        width: 50%;
        padding: 10px;
        height: 170px;
        margin: 50px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 100px;
    }
    
    .imagem4{
        background-image: url(../imagemmetodo/resumos.png);
        width: 50%;
        padding: 10px;
        height: 170px;
        margin: 50px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 80px;
    }
    
    
    .imagem5{
        background-image: url(../imagemmetodo/metodorobinson.jfif);
        width: 50%;
        padding: 10px;
        height: 170px;
        margin: 50px;
        margin-top: 100px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 75px;
        position:;
    }
    
    .imagem6{
        background-image: url(../imagemmetodo/mapa.png);
        width: 50%;
        padding: 10px;
        height: 170px;
        margin: 50px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 90px;
    }
}
